body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-13xl: 32px;
    --font-size-xl: 20px;
  
    /* Colors */
    --color-black: #000;
    --color-gray: #141414;
    --color-deepskyblue: #42b0ff;
    --color-white: #fff;
  
    /* Gaps */
    --gap-5xs: 8px;
  
    /* Paddings */
    --padding-13xl: 32px;
    --padding-29xl: 48px;
    --padding-base: 16px;
    --padding-3xs: 10px;
    --padding-5xl: 24px;
    --padding-33xl: 52px;
  
    /* Border radiuses */
    --br-xs: 12px;
  }
  